html,
body {
    margin: 0;
    padding: 0;
    background: url('/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
}


/* 登陆区域 */

.loginAndRegBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}


/* 头部标题 */

.title-box {
    width: 100%;
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}


/* 隐藏注册按钮 */

.reg_box {
    display: none;
}


/* 登陆的表单 */

.layui-form {
    padding: 0 30px;
}


/* 去注册账号 模块 */

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 10px;
}


/* 子绝父相 */

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 32px;
}